{% extends 'courseinfo/base.html' %}

{% block title %}
    Update Course
{% endblock %}

{% block content %}
    <form action="{{ course.get_update_url }}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Update Course</button>
    </form>
{% endblock %}
