{% extends 'courseinfo/base.html' %}

{% block title %}
    Update Registration
{% endblock %}

{% block content %}
    <form action="{{ registration.get_update_url }}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Update Registration</button>
    </form>
{% endblock %}
