{% extends 'courseinfo/base.html' %}

{% block title %}
    Update Semester
{% endblock %}

{% block content %}
    <form action="{{ semester.get_update_url }}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Update Semester</button>
    </form>
{% endblock %}
