{% extends 'courseinfo/base.html' %}

{% block tilte %}
    Delete Student
{% endblock %}

{% block content %}
    <form
        action="{{ student.get_delete_url }}"
        method="post">
        {% csrf_token %}
        <p>
            Are you sure that you want to delete student {{ student }}?
        </p>
        <a href="{{ student.get_absolute_url }}">Cancel</a>
        <button type="submit">Delete Student</button>
    </form>
{% endblock %}
