{% extends 'courseinfo/base.html' %}

{% block title %}
    Update Student
{% endblock %}

{% block content %}
    <form action="{{ student.get_update_url }}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Update Student</button>
    </form>
{% endblock %}
